version: 2

jobs:
  build:
    docker:
      - image: circleci/node:10.13.0-browsers
    steps:
      - checkout
      - run: curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.11/install.sh | bash
      - run:
          command: |
            source "${HOME}/.nvm/nvm.sh"
            nvm use
            npm install
            npm run lint
            npm test
            git config --global user.email $GH_EMAIL
            git config --global user.name  $GH_NAME
            npm run deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master
